{{define "login"}}
{{template "header" .}}
<section class="login-container">
    {{if .Error}}
    <div class="error-message">
        <i class="fa-solid fa-circle-exclamation"></i>
        {{.Error}}
    </div>
    {{end}}
    <div class="title">
        <i class="fa-solid fa-right-to-bracket"></i>
        <h2>Sign in to your account</h2>
        <p>Or <span><a href="/signup">create a new account</a></span></p>
    </div>

    <form action="/login" method="POST" class="login-form">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" >
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" >
        </div>
        <button type="submit" class="btn-login">Sign in</button>
    </form>
    
    <div class="or-separator">
        <hr>
        <span>OR</span>
        <hr>
    </div>

    <div class="social-login">
        <a href="/auth/google/login" class="btn-google">
            <i class="fa-brands fa-google"></i> Sign in with Google
        </a>
    </div>

</section>
{{end}}
